@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap');

:root {
    --lighterG: #B3DBCF;
    --lightG: #5CB89C;
    --midG: #3d7463;
    --darkG: #1A4437;
    --darkerG: #2B584A;
    --bgG: #002016;
    --bgBlur: rgba(0, 32, 22, 0.5);
}

.back-card {
  background-color: #2B584A;
  width: 365px;
  height: 280px;
  border-radius: 20px;
}

.circle {
  background-color: var(--bgG);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transform: translateY(-50%);
  margin: auto;
}

.img-circle {
  border: 1px solid var(--darkerG);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transform: scale(0.9);
  
}

.img-circle img {
  border-radius: 50% 50% 50% 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.card-content {
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
 transform: translateY(-55%);
 padding: 2rem;
 color: #fff;
}

.card-content h5 {
  font-size: 2rem;
  margin: 0;
}

.card-content h6 {
  font-weight: 400;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

.card-content p {
  font-size: 1rem;
  margin-bottom:0.9rem;
}
