@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap');

:root {
    --lighterG: #B3DBCF;
    --lightG: #5CB89C;
    --midG: #3d7463;
    --darkG: #1A4437;
    --darkerG: #2B584A;
    --bgG: #002016;
    --bgBlur: rgba(0, 32, 22, 0.5);
}

* {
    padding: 0; margin: 0;
    transition: all 0.1s ease-in;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bgG);
}

.container {
    padding-top: 7rem;
    width: 80%;
    margin: auto;
    justify-content: center;
}

/*header css starts here*/

.nav-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    background-color: var(--bgBlur);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 2vh 10%;
}

.nav-bar .nav-bar__items ul{
    display: flex;
}

.nav-bar .nav-bar__items ul a {
    text-decoration: none;
    list-style: none;
    color: var(--lighterG);
    font-weight: 400;
    padding-right: 4rem;
}

.nav-bar .nav-bar__items ul a:hover {
    color: #fff;
}

.nav-bar .nav-bar__items ul .active {
    color: var(--lightG);
}

.main-btn {
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    cursor: pointer;
}

.main-btn:hover {
    background-color: transparent;
    border: 2px solid var(--lightG);
    color: #fff;
}

/*header css ends here*/

/*main css starts here*/

.main-section {
    display: flex;
    margin-top: 7rem;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.headers {
    color: var(--lightG);
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.left-side h6 {
    color: var(--lighterG);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.left-side strong {
    color: #fff;
}

.texts {
    color: var(--lighterG);
    font-size: 3rem;
    font-weight: 600;
    width: 40vw;
    padding-bottom: 5rem;
}

.lighter {
    font-size: 1.5rem;
    font-weight: 400;
}

.left-side button {
    width: 20rem;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--midG);
    padding: 2rem;
}

.left-side button:hover {
    background: var(--midG);
}

span {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.right-side img {
    width: 30vw;
}

/*main css starts here*/

/*about me section starts here*/

.section2-container {
    display: flex;
    column-gap: 20vw;
    padding-top: 15rem;
    width: 100%;
    align-items: center;
    transform: translateX(-45%);
}

.low-case {
    text-transform: lowercase;
}

.section2-container .left-side .side-img {
    width: 55vw;
    transform: translateY(-5%);
}

/*about me section ends here*/

/*skills section starts here */

.grid-section {
    padding: 5rem 0;
}

.sections-grid {
    padding-top: 7rem;
}

.grid-section .sections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    margin: auto;
    justify-items: center;
    align-items: center;
    row-gap: 7rem;
}


/*skills section ends here */

/* clients section starts here */

.clients-section {
    margin: 3rem 0;
}

.clients-section .headers {
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.clients-section .clients-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    margin: auto;
    justify-items: center;
    align-items: center;
}

.clients-grid .clients-cards h5{
    position: relative;
    
}


/* clients section ends here */

#projects-section {
    margin-top: 11rem